<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="logs/internal.log"
      internalLogLevel="Info" >

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="logfile"
            fileName="${currentdir}/logs/${shortdate}/${shortdate}.txt" archiveAboveSize="5000000" keepFileOpen="false" maxArchiveDays="30" maxArchiveFiles="100"
            layout="${longdate} | ${level} | ${ndlc:separator= => } ${event-properties:EventId} ${newline} ${message} ${exception:format=tostring} ${newline}"/>
    <target xsi:type="ColoredConsole" name="logconsole" useDefaultRowHighlightingRules="false"
				layout="${longdate} | ${level} | ${ndlc:separator= => } ${event-properties:EventId} ${newline} ${message} ${exception:format=tostring} ${newline}">
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile,logconsole" >
      <filters defaultAction="Log">
        <when condition="level >= LogLevel.Warn" action="Log"/>
        <when condition="'${event-properties:EventId}'=='Ping'" action="Ignore"/>
        <when condition="'${event-properties:EventId}'=='Nat'" action="Ignore"/>
      </filters>
    </logger>
  </rules>
</nlog>