<?xml version="1.0" encoding="utf-8"?>

<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="logs/internal.log"
      internalLogLevel="Info">

  <!-- the targets to write to -->
  <targets>
    
    <!-- log -->
    <target xsi:type="File" name="logfile" archiveOldFileOnStartup="true"
            fileName="${currentdir}/logs/log.txt" archiveFileName="${currentdir}/logs/log-archive/log.{#}.txt"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="10000000" keepFileOpen="true" maxArchiveDays="30" maxArchiveFiles="100"
            layout="${longdate} | ${level} | ${ndlc:separator= => } ${event-properties:EventId} ${newline} ${message} ${exception:format=tostring} ${newline}" />

    <!-- tracking -->
    <target xsi:type="File" name="trackfile" archiveOldFileOnStartup="true"
            fileName="${currentdir}/logs/track.txt" archiveFileName="${currentdir}/logs/track-archive/track.{#}.txt"
            archiveNumbering="DateAndSequence"
            archiveAboveSize="10000000" keepFileOpen="true" maxArchiveDays="31"
            layout="${longdate} | ${message}" />

    <!--Console-->
    <target xsi:type="ColoredConsole" name="logconsole" useDefaultRowHighlightingRules="false"
            layout="${date} | ${level} | ${ndlc:separator= => } ${event-properties:EventId} ${newline} ${message} ${exception:format=tostring} ${newline}">
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
    </target>
    
    <!--Azure-->
    <target xsi:type="Trace" name="trace"
            layout="${longdate} | ${level} | ${ndlc:separator= => } ${event-properties:EventId} ${newline} ${message} ${exception:format=tostring} ${newline}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile,logconsole,trace">
      <filters defaultAction="Log">
        <when condition="level >= LogLevel.Warn" action="Log" />
        <when condition="'${event-properties:EventId}'=='Hello'" action="Log" />
        <when condition="'${event-properties:EventId}'=='Tcp'" action="Ignore" />
        <when condition="'${event-properties:EventId}'=='Ping'" action="Ignore" /> <!--Requires IsDiagnoseMode-->
        <when condition="'${event-properties:EventId}'=='Nat'" action="Ignore" /> <!--Requires IsDiagnoseMode-->
        <when condition="'${event-properties:EventId}'=='Udp'" action="Ignore" /> <!--Requires IsDiagnoseMode-->
        <when condition="'${event-properties:EventId}'=='DatagramChannel'" action="Ignore" />
        <when condition="'${event-properties:EventId}'=='StreamChannel'" action="Ignore" />
        <when condition="'${event-properties:EventId}'=='Track'" action="Ignore" /> <!--Keep it Ignore. see target:trackfile -->
      </filters>
    </logger>
    
    <logger name="*" minlevel="Info" writeTo="trackfile">
      <filters defaultAction="Ignore">
        <when condition="'${event-properties:EventId}'=='Track'" action="Log" />
      </filters>
    </logger>

  </rules>
</nlog>