/*-----------------------Import font-------------------------*/

@font-face {
    font-family: 'Arial-Narow';
    font-style: normal;
    src: url('../fonts/ARIALN.TTF') format('truetype');
}

@font-face {
    font-family: 'Arial-Narow-Bold';
    font-style: normal;
    src: url('../fonts/ARIALNB.TTF') format('truetype');
}

@font-face {
    font-family: 'Material-Icons-Round';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MaterialIconsRound-Regular.otf');
}

.material-icons {
    font-family: 'Material-Icons-Round';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/*----------------------End of Import font--------------------*/

/*----------------------Define Color----------------------*/

:root {
    --dark-blue: #122272;
    --light-blue: #1940b0;
    --sky-blue: #16a3fe;
    --master-green: #23c99d;
    --muted-color: rgba(255, 255, 255, 0.2);
    --light-gray: #929292;
}

/*----------------------End of Define Color----------------------*/

/*---------------------Default Style--------------------*/

h1, h2, h3 {
    font-family: 'Arial-Narow-Bold';
}

#stateText{
    font-family: 'Arial-Narow-Bold';
    font-size: 35px;
}

.sky-blue-text {
    color: var(--sky-blue);
}

#sectionWrapper {
    min-height: 100vh;
    font-family: 'Arial-Narow';
    color: white;
    background-image: linear-gradient(var(--light-blue), var(--dark-blue));
}

#sectionWrapper:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../images/body-bg.png") no-repeat top center;
    background-size: cover;
}

.main-button {
    font-family: 'Arial-Narow-Bold';
    font-size: 22px !important;
    color: white !important;
    height: 55px !important;
    width: 250px;
    background-image: linear-gradient(to right, var(--sky-blue), var(--master-green));
    transition: all 0.4s ease;
}

#disconnectButton  {
    background: var(--sky-blue);
}

#disconnectingButton  {
    background: var(--sky-blue);
}

.state-none #circleOuter{
    opacity: 0.3;
}

.white-link:hover, .white-link:focus {
    color: var(--sky-blue);
}

/*--------------------End of Default Style--------------------*/

/*--------------------Home Middle Section--------------------*/

#circleOuter {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    padding-top: 20px;
    margin: 0 auto;
    position: relative;
}

.circleOuter {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 auto;
    border-width: 10px;
    border-color: salmon;
    background-color: seagreen;
}

#circle {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circleOuter:before, #circle:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px white solid;
    border-radius: 50%;
    transition: all 1.5s ease;
}

#circleContent {
    display: flex;
    flex-direction: column;
}

.state-None #circleOuter {
    opacity: 0.3;
}

#bandwidthUsage {
    font-size: 25px;
    transition: color 0.4s ease;
}

#bandwithTotal {
    font-family: 'Arial-Narow-Bold';
    font-size: 30px;
    color: var(--sky-blue);
    transition: color 0.4s ease;
}

.state-diagnosing #circleOuter:before, 
.state-diagnosing #circle:before, 
.state-connecting #circleOuter:before, 
.state-connecting #circle:before, 
.state-disconnecting #circleOuter:before,
.state-disconnecting #circle:before {
    animation: circle-anim 2s infinite;
}

.state-diagnosing #circle:before, .state-disconnecting #circle:before, .state-connecting #circle:before {
    animation-delay: 1s;
}

@keyframes circle-anim {
    0% {
        opacity: 0.80;
    }
    40% {
        opacity: 0.2;
    }
    60% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.80;
    }
}

.state-connected #circleOuter:before{
    /* border-color: var(--master-green); */
    border-width: 0px;
    box-shadow: inset 0 0 50px #fff, /* inner white */
    inset 10px 0 50px #f0f, /* inner left magenta short */
    inset -10px 0 50px #f0f, /* inner right cyan broad */
    0 0 50px #fff, /* outer white */
    -10px 0 50px #f0f, /* outer left magenta */
    10px 0 50px #f0f;
    /* outer right cyan */
}

/*--------------------End of Home Middle Section--------------------*/

/*--------------------Home Bottom Section--------------------*/

#serverInfoSection {
    border: 2px rgba(22, 163, 254, 0.3) solid;
    border-radius: 10px;
}

#serverInfo {
    color: var(--light-gray);
    cursor: default;
}

#serverName {
    border-right: 1px var(--light-gray) solid;
}

/*--------------------End of Home Bottom Section--------------------*/

/*--------------------Responsive--------------------*/

@media only screen and (max-width: 425px) {
    #sectionWrapper:before {
        background-image: url("../images/body-bg-mobile.png");
    }
    #middleSection {
        transform: scale(0.7);
    }
    #logo img {
        max-width: 80px;
    }
}

/*--------------------End of Responsive--------------------*/