@if (isLoaded)
{
    @ChildContent
}
else
{
    <div>Loading screen...</div>
}

@code {
    bool isLoaded;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("OnInitializedAsyncLoader");
        await Task.Delay(4000); // TODO actual initialization job
        Console.WriteLine("OnInitializedAsyncLoader done");

        isLoaded = true;
    }
}