@page "/"
@using VpnHood.AccessServer.UI.Apis
@inject HttpClient Http
@inject NavigationManager Navigation;

<h1>This is home</h1>

@code {

    protected override async Task OnInitializedAsync()
    {
        var projectController = new ProjectController(Http);
        var projects = await projectController.ProjectsAllAsync();
        if (projects.Count == 1)
            Navigation.NavigateTo($"/projects/{projects.ToArray()[0].ProjectId}");
    }
}
