@page "/servers"
@inject HttpClient _http

<h1>@Loc["Servers"]</h1>
<Servers />


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {

    private void IncrementCount()
    {
    }
}
