<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="133" android:versionName="Beta" package="com.vpnhood.client.android" android:installLocation="auto">
  <uses-sdk android:minSdkVersion="22" android:targetSdkVersion="30" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <application android:label="VpnHood" android:icon="@mipmap/ic_launcher">
  </application>
</manifest>