[Unit]
Description=VpnHood Server
After=network.target

[Service]
Type=simple
ExecStart="/opt/VpnHoodAgent/vhagent"
TimeoutStartSec=0
Restart=always
RestartSec=10
StandardOutput=null

[Install]
WantedBy=default.target