<?xml version="1.0" encoding="utf-8"?>

<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="logs/internal.log"
      internalLogLevel="Info">

	<!-- the targets to write to -->
	<targets>
		<!--Console-->
		<target xsi:type="ColoredConsole" name="logconsole" useDefaultRowHighlightingRules="false"
		        layout="${date} | ${level} | ${logger} | ${event-properties:EventName} ${newline} ${message} ${exception:format=type,message} ${newline}">
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
		</target>

		<!-- log -->
		<target xsi:type="File" name="logfile" archiveOldFileOnStartup="true"
				layout="${longdate} | ${level} | ${logger} | ${event-properties:EventName} ${newline} ${message} ${exception:format=type,message} ${newline}"
				fileName="${currentdir}/logs/server.log"
				archiveFileName="${currentdir}/logs/log-archive/server.{#}.log"
				archiveNumbering="DateAndSequence"
				archiveAboveSize="10000000"
				keepFileOpen="true"
				maxArchiveDays="10"
				maxArchiveFiles="100"/>

		<!-- serverConfigs -->
		<target xsi:type="File" name="vpn-servers-configures" archiveOldFileOnStartup="true"
				fileName="${currentdir}/logs/vpn-servers-configures.log"
				archiveFileName="${currentdir}/logs/configures-archive/vpn-servers-configures.{#}.log"
				archiveNumbering="Date"
				archiveEvery="Hour"
				archiveDateFormat="yyyy-MM-dd#HH"
				keepFileOpen="true"
				maxArchiveDays="10"
				layout="${longdate}&#x9;${message}" />

		<!-- serverStatus -->
		<target xsi:type="File" name="vpn-servers-statuses" archiveOldFileOnStartup="true"
		        fileName="${currentdir}/logs/vpn-servers-statuses.log"
		        archiveFileName="${currentdir}/logs/configures-archive/vpn-servers-statuses.{#}.log"
		        archiveNumbering="Date"
		        archiveEvery="Hour"
		        archiveDateFormat="yyyy-MM-dd#HH"
		        keepFileOpen="true"
		        maxArchiveDays="10"
		        layout="${longdate}&#x9;${message}" />

		<!-- http -->
		<target xsi:type="File" name="http-requests" archiveOldFileOnStartup="true"
		        fileName="${currentdir}/logs/http.log"
		        archiveFileName="${currentdir}/logs/http-archive/http.{#}.log"
		        archiveNumbering="Date"
		        archiveEvery="Hour"
		        archiveDateFormat="yyyy-MM-dd#HH"
		        keepFileOpen="true"
		        maxArchiveDays="10"
		        layout="${longdate} | ${aspnet-request-duration:format=ss\\.ff}ms | ${message}" />

		<!-- sessions -->
		<target xsi:type="File" name="sessions" archiveOldFileOnStartup="true"
				fileName="${currentdir}/logs/sessions.log"
				archiveFileName="${currentdir}/logs/sessions-archive/sessions.{#}.log"
				archiveNumbering="Date"
				archiveEvery="Day"
				archiveDateFormat="yyyy-MM-dd"
				keepFileOpen="true"
				maxArchiveDays="10"
				layout="${longdate}&#x9;${message}" />

	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="Microsoft.EntityFrameworkCore.*" maxlevel="Info" final="true" />
		<logger name="Microsoft.AspNetCore.Hosting.*" maxlevel="Info" final="true"  writeTo="http-requests"/>
		<logger name="Microsoft.AspNetCore.*" maxlevel="Info" final="true" />
		<logger name="VpnHood.AccessServer.Agent.Services.SessionService" maxlevel="Info" final="true" writeTo="sessions"/>
		<logger name="VpnHood.AccessServer.Agent.Services.AgentService" maxlevel="Info" final="true" writeTo="vpn-servers-configures"/>
		<logger name="VpnHood.AccessServer.Agent.Services.AgentService.ServerStatusLogger" maxlevel="Info" final="true" writeTo="vpn-servers-statuses"/>
		<logger name="*" minlevel="Info" writeTo="logfile,logconsole"/>
	</rules>
</nlog>