<?xml version="1.0" encoding="utf-8"?>

<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="logs/internal.log"
      internalLogLevel="Info">

  <!-- the targets to write to -->
  <targets>

    <!--Console-->
    <target xsi:type="ColoredConsole" name="logconsole" useDefaultRowHighlightingRules="false"
            layout="${level} | ${event-properties:EventName} | ${ndlc:separator= => } ${newline} ${message} ${exception} ${newline}">
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
    </target>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="System.*" finalMinLevel="Warn" />
    <logger name="Microsoft.*" finalMinLevel="Warn" />
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Warn" />
    <logger name="Microsoft.EntityFrameworkCore.Database.Command" finalMinLevel="Warn" />
    <logger name="*" minlevel="Info" writeTo="logconsole">
      <filters defaultAction="Ignore">
        <when condition="'${event-properties:EventName}'=='Cache'" action="Log" />
        <when condition="'${event-properties:EventName}'=='Server'" action="Log" />
        <when condition="'${event-properties:EventName}'=='Maintenance'" action="Log" />
        <when condition="'${event-properties:EventName}'=='Cycle'" action="Log" />
        <when condition="'${event-properties:EventName}'=='Session'" action="Ignore" />
        <when condition="'${event-properties:EventName}'=='AddUsage'" action="Ignore" />
        <when condition="'${event-properties:EventName}'=='Archive'" action="Ignore" />
        <when condition="level >= LogLevel.Info" action="Log" />
      </filters>
    </logger>

  </rules>
</nlog>